{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Product Hunt: Discover your next favorite thing</h1>
          <p class="lead text-muted">Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.</p>
        </div>
      </section>

      {% for item in items %}
      <div class="container card" style="height:auto; padding:15px;">
          <div class="row justify-content-md-center">
              <div class="col-2 text-center">
                  <img src="{{item.icon.url}}" class="img-fluid">
              </div>
              <div class="col-10 text-center">
                  <h1>
                      <a href="{% url 'details' item.id %}">{{item.title}}</a>
                  </h1>
              </div>
          </div>
          <br><br>
          <div class="row">
              <div class="col-9 text-center text-muted">
                <p>
                  {{item.body |slice:"0:200"}}
                </p>
              </div>
              <div class="col-3 text-center" style="color: snow; ">
                  <a class="btn btn-info btn-danger btn-lg" role="button"> Upvote  {{item.votes_total}}</a>
              </div>
          </div>
          <br>
          <div class="row" style="height:8vh;">
            </div>
          <div class="row">
              <div class="col-5 text-center text-muted">
                  <p>Hunted by - {{item.hunter}}</p>
              </div>
              <div class="col-4 text-center text-muted">
                      <p>{{item.pub_date}} </p>
              </div>
          </div><br>
      </div><br><br>
      {% endfor %}
    </main>

    {% endblock %}
